    <header>
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Route Routing</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/routes/hwy66"><i class="fa fa-road"></i> Route 66</a></li>
                <li><a href="#!/routes/blueridgeparkway"><i class="fa fa-road"></i> Blue Ridge Parkway</a></li>
 
            </ul>
        </div>
        </nav>
    </header>